<div class="add_movie_container" (click)="onClose()">
<form action="">
  <label for="add_movie_title">Title</label>
  <input type="text" name="title" id="add_movie_title">
  <label for="add_movie_genre">Genre</label>
  <input type="text" name="genre" id="add_movie_genre" >
  <label for="add_movie_year">Year</label>
  <input type="number" name="year" id="add_movie_year" >
  <label for="add_movie_year">Director</label>
  <input type="text" name="director" id="add_movie_director">
  <label for="add_movie_year">Runtime</label>
  <input type="text" name="runtime" id="add_movie_runtime">
  <label for="add_movie_poster">Poster</label>
  <input type="text" name="poster" id="add_movie_poster" placeholder="add url">
</form>
</div>
