<div class="list_wrapper container">
  <div class="movie-box">
      <div class="movie_img">
        <img src="" alt="">
      </div>
      <p>Movie Name</p>
      <p>{{cinema|json}}</p>
      <button>Edit</button><button (click)="console()">Remove </button>
  </div>
  <div class="movie-box">
    <div class="movie_img">
      <img src="" alt="">
    </div>
    <p>Movie Name</p>
    <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
<div class="movie-box">
  <div class="movie_img">
    <img src="" alt="">
  </div>
  <p>Movie Name</p>
  <button>Edit</button><button>Remove</button>
</div>
</div>
